{% extends 'base_site.html' %}


{% block content %}
<div id="content">
  <ul class="feed">
    {% for mykey,myvalue in items.items %}
    {{ mykey }} : {{ myvalue }}
    {% endfor %}
    <li class="feedItem">
      <div class="card" style="width:95%;">
        <img class="card-img-top" height="100px" src="img_avatar1.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Teste Evento</h4>
          <div class="card-location" style="font-weight:lighter;">
            <i class="material-icons">location_on</i>
          Piolho
          </div>
          <div class="feedFriends card-block">
            <a>Juke</a>
            <a>Precoce</a>
          </div>
        </div>
        <div class="card-body">
          <div class="feedStatus">
            <select class="custom-select">
              <option value="1" selected>Going</option>
              <option value="2">Not Going</option>
              <option value="3">Interested</option>
            </select>
          </div>
          <div class="feedTags">
            <span class="badge badge-pill badge-primary">Rock</span>
            <span class="badge badge-pill badge-danger">Free</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}

{% block feed %}
{% endblock %}
