{% extends 'base_site.html' %}


{% block content %}
<div id="content">
  <h1>{{ sitename }}</h1>
  <h2>{{ descr }}</h2>
  <ul id="feed">
    <li class="feedItem" id="eventId">
      <div class="feedHeader">
        <div class="feedTitle">
          Teste Party
        </div>
        <div class="feedLocatio">
          <i class="material-icons">location_on</i>
          Piolho
        </div>
        <div class="feedFriends">
          <a>Juke</a>
          <a>Precoce</a>
        </div>
      </div>
      <div class="feedBody">
        <div class="feedStatus">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Going</a>
          <a class="dropdown-item" href="#">Not Goinf</a>
          <a class="dropdown-item" href="#">Interestedss</a>
        </div>
        </div>
        <div class="feedTags">
        <span>Rock</span><span>Free</span>
        </div>
      </div>
    </div>
  </ul>
</div>
{% endblock %}

{% block feed %}
{% endblock %}
