{% extends 'base_site.html' %}


{% block content %}
<div id="content">
  <ul class="feed">
    {% for event,values in items.items %}
    <li class="feedItem">
      <div class="card" style="width:95%;">
        <img class="card-img-top" style="opacity:0.5" height="100px" width="3000px" src="/media/{{event.image}}" alt="Prev">
          <div class="card-img-overlay">
          <div class="card-body">
            <div class="eventHeader">
              <h4 class="card-title">
                <a href="/events/{{event.id}}">
                  {{event.title}}
                </a>
              </h4>
              <div class="card-location" style="font-weight:lighter;">
                <i class="material-icons" style="color:black;">location_on</i>
                <a href="https://www.google.com/maps/search/?api=1&query={{event.local|urlencode}}" target="_blank">{{event.local}}</a>
              </div>
            </div>
          <div class="feedFriends card-block">
            {% for friend in values.1 %}
            <a href="/user/{{friend.id}}">
              <img src="{{friend.picture}}" height="70px" style="border-radius: 50%;">
            </a>
            {% endfor %}
          </div>
        </div>
        </div>
        <div class="card-body">
          <div class="feedDescription">
            {{event.description}}
          </div>
          <div class="feedStatus">
            <select id="status_{{ event.id }}"class="custom-select" onchange="changeEventStatus({{event.id}})">
              {% if values.0 == 'Not Going' %}
              <option value="1" selected> Not Going</option>
              <option value="2" >Going</option>
              {% else %}
              <option value="2" selected>Going</option>
              <option value="1">Not Going</option>
              {% endif %}
            </select>
          </div>
          <div class="feedTags">
            <h3 style="display:inline"><span class="badge badge-pill badge-primary">Rock</span></h3>
            <h3 style="display:inline"><span class="badge badge-pill badge-danger">Free</span></h3
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block feed %}
{% endblock %}
