{% extends 'base_site.html' %}

{% block content %}
<div id="content">
  <div class="detailEvent">
    <div class="eventHeader">
      <h1>
        {{night.title}}
      </h1>
    </div>
      <div class="eventLocation">
        <p>
          <h1>Events</h1>
        {% for event in events %}
            <a href="/events/{{event.id}}">{{event.title}}</a>
            <div class="card-location" style="font-weight:lighter;">
              <i class="material-icons">euro_symbol</i> {{event.price}}
            </div>
            <div class="eventLocation">
            <div class="card-location" style="font-weight:lighter;">
              <i class="material-icons">location_on</i>
              <a href="https://www.google.com/maps/search/?api=1&query={{event.local|urlencode}}" target="_blank">{{event.local}}</a>
            </div>
            </div>
        {% endfor %}
      </div>
    <div class="friendsList">
      <h1>Friends List</h1>
      {% for friend in friends %}
        <div class="friendInList">
        <a href="/user/{{friend.id}}">
          <img src="{{friend.picture}}" height="70px" style="border-radius: 50%;">
          <p>{{friend.first_name}} {{friend.last_name}}<p>
        </a>
      </div>
      {% endfor %}
      <div class="friendInList">
      <a href="#">
        <button type="button"style="background:none;border:none;color:white;"  data-toggle="modal" data-target="#exampleModal">
        <i class="material-icons"style="font-size:7em;margin:0;">add_circle_outline</i>
        <p>Add Friend<p>
          </button>
      </a>
    </div>

    </div>
    <div class="expenses">
      <h1>Expenses</h1>
      <table>
        <tr>
    <th>Type</th>
    <th>Value</th>
  </tr>
      {% for exp in expenses %}
      <tr>
        <td>{{exp.expense_type}}</td>
        <td>{{exp.amount}}</td>
      </tr>
      {% endfor %}
      </table>
      <a href="#">
        <button type="button"style="background:none;border:none;color:white;"  data-toggle="modal" data-target="#exampleModal">
        <i class="material-icons"style="font-size:7em;margin:0;">add_circle_outline</i>
        <p>Add Expense<p>
          </button>
      </a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Friend to Night</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <input class="ui-widget" id="userEventa" type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="AddUser({{night.id}})">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>var availableTagsEV = {{json_data|safe}};</script>
{% endblock %}
