{% extends 'base_site.html' %}


{% block content %}
<div id="content">
  <div class="createForm">
    <h1>Plan Night</h1>

    <form class="ui-widget" id = "planNight" action="planNight" method="post">
      <div class="form-group">
        {% csrf_token %}
        <table>
        {{ form.as_table}}
      </table>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
    </form>
</div>
      <script>var availableTags = {{users|safe}};</script>
    <script>var availableTagsEv = {{events|safe}};</script>
{% endblock %}
