{% extends 'base_site.html' %}


{% block content %}
<div id="content">
  <div class="createForm">
    <h1>Plan Night</h1>
    <form action="planNight" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ form.as_table}}
      </table>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>

  <div class="createForm">
    <h1>Go</h1>
    <form action="myNights" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>
{% endblock %}
